<div
    class:list={[
        "prose dark:prose-invert prose-zinc",
        "prose-code:font-mono",
        "prose-a:text-indigo-600 dark:prose-a:text-indigo-400 prose-a:after:content-['_⤴']",
        "prose-h2:before:content-['#_'] dark:prose-h2:before:text-indigo-400 prose-h2:before:text-indigo-600",
        "prose-strong:text-indigo-600 dark:prose-strong:text-indigo-400",
        "marker:text-indigo-600 dark:marker:text-indigo-400",
    ]}
>
    <slot />
</div>
